@import url('https://fonts.googleapis.com/css?family=KoHo|Manuale');
@import '../../assets/styles/variables';
@font-face {
  font-family: 'Helvetica Neue Light';
    src: url('../../assets/fonts/HelveticaNeue-Light.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue Medium';
    src: url('../../assets/fonts/HelveticaNeue-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue Bold';
    src: url('../../assets/fonts/HelveticaNeue-Bold.woff') format('woff');
}

.product-thumbnail {
  position: relative;
  border: 1px solid $primary-color;
  margin: 0 20px 40px 20px;
  
  @media (min-width: 992px) {
    margin: 0 20px 0 20px;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  .btn {
    position: absolute;
    bottom: 13px;
    left: 10px;
  }
}